<%
const title = opt.title || _.state.title || _.state.name
if (title) {
  %>
  <div class="page-title container mt-4 mb-4 mb-lg-5">
    <div class="page-title__head">
      <% if (_.state.logo && _.state.logo.url) { %>
        <img
          class="page-title__logo"
          src="<%= _.state.logo.url %>"
          alt="<%= _.state.logo.alt %>"
        >
      <% } %>
      <ul>
        <li>
          <h1 class="my-0">
            <a href="/pecas-para-fogao/">
              <%= title %>
            </a>
          </h1>
        </li>
        <li>
          <h2>
            <a href="/pecas-para-panela/">
              Peças para Panela
            </a>
          </h2>
        </li>
        <li>
          <h2>
            <a href="/utilidades-domesticas/">
              Utilidades Domésticas
            </a>
          </h2>
        </li>
      </ul>
    </div>
    <%
    const description = opt.description || _.state.short_description
    if (description) {
      %>
      <div class="page-title__short-description lead">
        <%= description %>
      </div>
    <% } %>
  </div>
<% } %>
