// Add your custom CSS here.
.header {
  background: #fff;
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 0;
  border-bottom: none;
  @media (min-width: 576px) {
      &__logo {
          max-width: 400px;
          max-height: 90px;
          padding: 5px;
      }
  }
  &__search-btn {
    border-left: 1px solid #000;
    i {
      color: #000;
    }
  }

  &__toggler-icon {
    color: #ffa500
  }

  &__search {
    border: 1px solid #000;
    border-radius: 20px;
  }
}

#menu-horizontal {
  background: #dcdcdc !important;
  padding: 7px;
  color: #000 !important;
}

.top-bar {
  background: #dcdcdc;
  * {
    color: #000;
  }
}

#user-button i, #cart-button i {
  color: #ffa500
}

.footer {
  border-top: none;
  background: #dcdcdc;
  font-weight: normal;
  &__title {
    color: #000;
  }
  & h4 {
    font-size: 13px;
  }
}

.page-title__head h1 {
  color: #ffa500
}

.product-card__buy button:hover, .product__buy button:hover  {
background: #4e7d02;
border-color: #4e7d02;
}

#product-actions .share, .product__short-stock, #product-description p.lead > a, .login-modal__btn--facebook,.login-modal__btn--google, .login-modal__btn--windowslive, .login__oauth  {
  display: none;
}

#a-pecas-para-fogao_ .menu__list {
  display: flex;
  flex-direction: column;

  #c-6006106269274c73fcf77f23 {
    order: 1
  }
  #c-6006105e69274c73fcf77f13 {
    order: 2
  }
  #c-6006106069274c73fcf77f17 {
    order: 3
  }
  #c-6006108969274c73fcf77fa1 {
    order: 4
  }
  #c-6006109469274c73fcf77fbf {
    order: 5
  }
  #c-6006105d69274c73fcf77f10 {
    order: 6
  }
  #c-6006106169274c73fcf77f1f {
    order: 7
  }
  #c-6006106369274c73fcf77f27 {
    order: 8
  }
  #c-6006106569274c73fcf77f2c {
    order: 9
  }
  #c-6006105f69274c73fcf77f15 {
    order: 10
  }
  #c-6006106669274c73fcf77f2e {
    order: 11
  }
  #c-600610aa69274c73fcf78001 {
    order: 12
  }
  #c-600610a369274c73fcf77fed {
    order: 13
  }
  #c-6006106869274c73fcf77f33 {
    order: 14
  }
  #c-6006106c69274c73fcf77f42 {
    order: 15
  }
  #c-6006108569274c73fcf77f95 {
    order: 16
  }
  #c-6006106769274c73fcf77f31 {
    order: 17
  }
  #c-600610a469274c73fcf77ff0 {
    order: 18
  }
  #c-600610a669274c73fcf77ff4 {
    order: 19
  }
  #c-6006109169274c73fcf77fb6 {
    order: 20
  }
  #c-600610a069274c73fcf77fe2 {
    order: 21
  }
  #c-6006106969274c73fcf77f39 {
    order: 22
  }
  #c-600610ab69274c73fcf78003 {
    order: 23
  }
  #c-6006107869274c73fcf77f68 {
    order: 24
  }
}
.order-info__toggle {
display: none
}
@media(max-width: 767px) {
  .header__toggler-icon::after {
    content: " Menu"
  }
}
.page-title__head {
  display: flex;
  justify-content: center
}
.product-card__name {
    --max-lines: 4 !important;
}
.product-card__buy button:hover, .product__buy button:hover, .minicart__btn-checkout, .minicart__btn-checkout:hover {
    background: #4e7d02;
    border-color: #4e7d02;
}
#a-pecas-para-panela_ .menu__list {
display: flex;
flex-direction: column;
  #c-6006107469274c73fcf77f5c {
  order: 1
}
#c-600610a869274c73fcf77ffb {
order: 2;
  border-bottom: 1px solid
}
#c-6006107569274c73fcf77f60 {
order: 3
}
#c-6006107369274c73fcf77f59 {
order: 4
}
#c-600610a269274c73fcf77fea {
order: 5
}
#c-6006107769274c73fcf77f66 {
order: 6
}
#c-6006107669274c73fcf77f63 {
order: 7
}
#c-6006108c69274c73fcf77fa7 {
order: 8
}
#c-600610a169274c73fcf77fe5 {
  order: 9
}
}
#a-utilidades-domesticas_ .menu__list {
  display: flex;
  flex-direction: column;
  #c-6023d5f774e7c660719475c1 {
  order: 1
}
#c-6023d62074e7c660719475e1 {
  order: 2;
  border-bottom: 1px solid
}
#c-6006107269274c73fcf77f55 {
  order : 3
}
#c-6006109f69274c73fcf77fde {
  order: 4
}
#c-6006109e69274c73fcf77fdb {
  order: 5
}
#c-6006109369274c73fcf77fbd {
  order: 6
}
#c-6006108869274c73fcf77f9e {
  order: 7
}
}
 .shipping-calculator__services .list-group .active .shipping-calculator__option:after {
    content: url(/img/uploads/check-menor.png);
}
.account-form .btn.btn-lg.btn-primary {
  background: #06D755;
  border-color: #06D755;
}
#product-payment-header span {
  font-size: 0
}
#product-payment-header span:after {
  font-size: 1rem !important;
  content: "Ver Formas de Pagamento"
}
.login-modal__body .alert-info {
  a {
    &:before {
      content: "Ou "
    }
    &:after {
      content: "já cadastrado";
      font-weight: 400;
    }
  }
}
.login-modal__visitor-info {
  font-size: 0 !important;
  &::after {
    content: "Se não tiver nenhuma conta criada, insira os produtos que deseja comprar no carrinho, finalize o pedido e assim sua conta estará criada.";
    font-size: 1rem;
    color: red;
  }
  border: solid 5px #FC5185;
    transition: border-width 0.6s linear
}
#product-actions .prices__discount span {
  &::after {
    content: "à vista ";
  }
}
#product-actions .product__prices {
  &::after {
    content: url(https://us-central1-ecom-mp.cloudfunctions.net/app/checkout-stamp.png);
  }
} 

.account__login .alert.alert-dismissible.fade.show.alert-warning:after {
  font-size: 1.05rem !important;
  content: "Se não tiver cadastro, insira os produtos que deseje comprar no carrinho e finalize o pagamento. Assim, sua conta estará criada.";
  color: red; 
}
* {
  font-family: 'Nunito', sans-serif;
}
#categories-row {
  a, h1, h2 {
    font-size: calc(1.325rem + .9vw) !important;
    color: orange !important;
  }
  ul {
     list-style: none;
     display: flex;
     flex-wrap: nowrap;
     @media(max-width: 767px) {
            overflow-x: auto;
       li {
         max-width: 100%;
         flex: 0 0 100%;
         &:nth-child(2), &:nth-child(1) {
           &::after {
             content: '+ opções, arraste para o lado';
             position: relative;
             font-size: .7rem;
             padding-top: .5rem;
           }
         }
         h1, h2 {
           text-align: center
         }
       }
     }
     @media(min-width: 767px) {
       li {
         & > {
           h1 {
             &:after {
               content: ', '
             }
           }
         }
        &:nth-child(2) {
          h2 {
            &::after {
              content: '\00a0 e\00a0'
            }
          }
        }
       }
     }
   }
   .row {
     justify-content: center;
   }
 }
 .login button,.login button:hover  {
  background: #06D755;
  border-color: #06D755; 
 }
 @media(max-width: 767px) {
   #categories-row {
     margin-top: 2rem;
   }
 }